ion-header {
  text-align: center;
  --background: transparent;
}

ion-content {
  --background: url('../../assets/wave.svg') no-repeat;
  --background-size: cover;
}

.brand-name {
  padding-top: 20px;

  .text-red {
    font-weight: bold;
    color: #AA4B1B;
    // color: #FB7F76;
  }

  h2 {
    font-weight: 600;
  }
}

.text-center {
  text-align: center;
}

.count-board {
  h1 {
    font-size: 35px;
  }
  p {
    margin-top: -8px;
  }
  strong {
    color: #ddd;
  }
}

.location-title {
  font-size: 20px;
}

h1 {
  color: #ffffff;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}